<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <%- include('header') %>
    <div id="main-content" class="container">
      <div class="jumbo-table table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Amount</th>
              <th scope="col">Date and time</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <% historys.forEach(historys => { %>
            <tr class="table-row">
              <td><%= historys.account1 %></td>
              <td><%= historys.account2 %></td>
              <td class="email"><%= historys.amount %></td>
              <td><%= historys.date %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('footer') %>
    <!--<script src="transc.js"></script>-->
    <script src="../js/practice.js"></script>
  </body>
</html>
